$pointer-width: 5px;
$infinite-length: 10000px;

.range {
  &__container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    border: 1px solid rosybrown;
  }

  &__pointer-container {
    position: absolute;
    left: 10px;
    right: 250px;
    cursor: grab;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  &__pointer {
    display: block;
    width: $pointer-width;
    height: 100%;
    //position: absolute;
    cursor: e-resize;

    background-color: darkgrey;

    &_left {
      //left: 100px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        //right: $pointer-width;
        right: 100%;
        width: $infinite-length;
        height: 100%;
        pointer-events: none;

        background-color: rgba(darkgrey, 0.5);
      }
    }

    &_right {
      left: 250px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        width: $infinite-length;
        height: 100%;
        pointer-events: none;

        background-color: rgba(darkgrey, 0.5);
      }
    }
  }
}
