html {
  height: 100%;
}

body {
  min-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.night-mode {
  background-color: #242f3e;
}

.app-section {
  margin-top: 20px;
}

.line-group {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &#{&}__active {
    opacity: 1;
  }
}

.horiz-line-group {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &#{&}__active {
    opacity: 1;
  }

  text {
    font-size: 12px;
    font-family: sans-serif;
    stroke: none;
    // grey
    fill: rgba(128, 128, 128, 0.6);
  }

  path {
    // grey
    stroke: rgba(128, 128, 128, 0.5);
  }
}
